// Place all the styles related to the Badge controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
form {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}
